@import '../../assets/styles/mixins.scss';

.Filter {

    @include media_1200_min_width {
        display: flex;
    }

    &__item {

        &:first-of-type {

            @include media_1200_min_width {
                order: 1;
                margin-left: auto;
            }
        }

        &:last-of-type {

            @include media_1200_min_width {
                margin-left: rem(40);
            }
        }

        & + .Filter__item {
            margin-top: rem(16);

            @include media_1200_min_width {
                margin-top: 0;
            }
        }
    }

    &__Select {
        width: rem(240);
    }
}
