@import '../../assets/styles/mixins.scss';

.ContactList {
    padding: 0;
    list-style: none;

    &__item {
        margin: 0;
        padding: 0;

        & + .ContactList__item {
            margin-top: rem(16);
        }
    }

    &__ContactLink {
        display: inline-block;
        vertical-align: top;
    }
}
